@using Common.App.Data.Entities.Masters
@using Common.App.Utility.Helpers
@model Masters_State;
<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-md-6 col-sm-12">
                    <h2>State Add</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">State Add</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-6 col-sm-12 text-right hidden-xs">
                    <a href="@Url.Action("StateList","Masters",new{src="0"})" class="btn btn-sm btn-primary btn-round" title="">Back</a>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card planned_task">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <form asp-controller="Masters" asp-action="AddState" class="form-auth-small" asp-route-src="0">
                                <div class="card">
                                    <div class="header">
                                        <h2>State Master</h2>
                                    </div>
                                    <div class="body">
                                        <input type="hidden" name="EntrySource" value="Web" />
                                        <div class="row">
                                            <div class="col-lg-3 col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label>Region</label>
                                                    <select class="form-control show-tick round" asp-for="GroupID" asp-items="ViewBag.RegionList">
                                                    </select>
                                                    <span asp-validation-for="GroupID" class="text-red"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 form-group">
                                                <label>State Code</label>
                                                <input type="text" class="form-control round" asp-for="StateCode" />
                                            </div>
                                            <div class="col-lg-3 form-group">
                                                <label>State Name </label>
                                                <input type="text" class="form-control round" asp-for="StateName" />
                                            </div>
                                            <div class="col-lg-3 form-group">
                                                <label>Description</label>
                                                <input type="text" class="form-control round" asp-for="Description" />
                                            </div>
                                            <div class="col-md-3 button-clients" style="padding-top: 28px;">
                                                <button name="Command" value="Add" class="btn client-save btn-primary" type="submit">Save changes</button>
                                                <a href="@Url.Action("StateList","Masters",new { src=@EncryptDecrypt.Encrypt("0") })" type="button" class="btn btn-danger client-close">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>